@if variable-exists(logo) {
  .site-logo {
    width: 200%;
    height: 200%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}
